<h1>Books</h1>
<body>
  <table>
    <tr>
      <th><h4>Title</h4></th>
      <th><h4>body</h4></th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <td>テスト１</td>
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
      <td>show</td>
      <td>edit</td>
      <td>delete</td>
    </tr>
  </table>
</body>
<h2>New book</h2>
<%= form_with model: @book, url:'/books', local:true do |f| %>
  <h5>Title</h5>
  <%= f.text_field :title %>
  <h5>Body</h5>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>